{% extends 'base.html' %}
{% load static %}
{% block head %}<title>About</title>{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->


  <section id="hero">

    <div class="container">
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->


    <!-- ======= Groups Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Meet the</h2>
            <p>Devs</p>
            
            </div>
          </div>
      </div>
      <section id="counts" class="devs">
        <div class="container">
  
          <div class="row" data-aos="fade-up">
  
            <div class="dev-box">
                <div class="count-box">
                    <img src="https://avatars.githubusercontent.com/u/57388834?v=4" class="dev_pic">
                    <span class="dev_name"> Nanda Kishor M Pai </span>
                    <p class="dev_nick_name">nandakishormpai</p>
                  </div>
            </div>
  
            <div class="dev-box">
                <div class="count-box">
                    <img src="https://avatars.githubusercontent.com/u/57054372?v=4" class="dev_pic">
                    <span class="dev_name"> Antony S John </span>
                    <p class="dev_nick_name">AntonySJohn</p>
                  </div>
            </div>
  
            <div class="dev-box">
              <div class="count-box">
                <img src="https://avatars.githubusercontent.com/u/53964426?v=4" class="dev_pic">
                <span class="dev_name"> Hari Krishnan U </span>
                <p class="dev_nick_name">Harikrishnan6336</p>
              </div>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->
    </section><!-- End About Section -->


{% endblock %}
      

    