{% extends 'base.html %}
{% load static %}
{% load crispy_forms_tags %}


{% block head %}<title>Login</title>{% endblock %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
    </div>


  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Groups Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Welcome!</h2>
            <p>Log in</p>
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
        
          </div>
        <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Github Username" required> -->
                {{ form|crispy }}
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <button type="submit" class="join_db">Log in!</button>
              </div>
            </div>
          </form>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <small >Need an Account? <a class="ml-2" href="{% url 'register' %}">Sign up</a></button></small>
          </div>
        </div>
    </div>
  </section>

</main>

    {% endblock %}