{% extends 'base.html' %}
{% load static %}
{% block head%}  <title>Log out</title>{% block head %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
    </div>


  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Groups Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Come Back soon!</h2>
            <p>You have been logged out</p>
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
        
          </div>
        <div class="content-section">
          
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <small ><a class="ml-2" href="{% url 'login' %}">Log in again!</a></button></small>
          </div>
        </div>
    </div>
  </section>
    

</main>

    {% end block %}