{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}<title>Register</title>{% endblock %}

{% block content % }

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
    </div>


  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Groups Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Register</h2>
            <p>Join us</p>
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
        
          </div>
        <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Github Username" required> -->
                {{ form|crispy }}
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <button type="submit" class="join_db">Join!</button>
              </div>
            </div>
          </form>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <small >Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a></button>
          </div>
        </div>
    </div>
  </section>
    </section><!-- End About Section 
        <br>
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
          <div class="container">
    
            <div class="row" data-aos="fade-up">
    
              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="{{group_count}}" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Groups</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="{{repo_count}}" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Repos</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="{{star_count}}" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Stars</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                  <i class="bi bi-people"></i>
                  <span data-purecounter-start="0" data-purecounter-end="{{user_count}}" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Users</p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Counts Section -->

    
      {% endblock %}